.cuerpo-inicio {
    position: fixed;  /* Cambio para asegurar que se mantenga en la vista */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;  /* Permite scroll dentro del cuerpo si es necesario */
    background-image: url('/fotosApp/fondoInicio.jpg');
    background-size: cover;
    background-position: center;
}

.menu {
    background-color: #e2e2e2;
    padding: 20px;
    width: 400px;
    max-height: 90vh; /* Ajusta la altura máxima para prevenir desbordamiento */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; /* Permite scroll dentro del menú si es necesario */
    transition: all 0.3s; /* Suaviza las transiciones de tamaño */
}

.register-form, .form-content {
    width: 100%; /* Asegura que los elementos internos ocupen todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu input, .menu button {
    width: 90%;
    margin: 10px 0; /* Espaciado uniforme */
}

.menu button{
    background-color: #6200ea;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #5701a3;
}

.menu input {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;  /* Ajusta este valor según necesites más espacio */
    width: 90%;
    margin: 10px 0; /* Espaciado uniforme */
    color: #000;
}

.menu input::placeholder {
    color: #000;
    padding: 2pxpx;
}

.logo {
    width: 80%;
    margin-bottom: 20px;
}
