.turno-detalles {
  margin-bottom: 20px; /* Espacio antes de los botones */
  color: #000;
  text-align: center;
}

.tu {
  font-size: 25px;
  font-weight: bold;
  color: #7c4dff;
}

.tar {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.turnoo-info,
.paciente-info {
  margin-bottom: 10px; /* Espacio entre secciones de información */
}

.turnoo-info span,
.paciente-info span {
  display: block; /* Asegura que cada elemento se muestre en su propia línea */
  margin-bottom: 5px; /* Espacio entre líneas de texto */
}

.acciones {
  display: flex; /* Alineación horizontal de los botones */
  justify-content: space-between; /* Espaciado entre botones */
  gap: 10px; /* Espacio entre botones */
}

.acciones button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.acciones button:hover {
  background-color: #5701a3;
}

/* Estilos específicos para cuando el componente está dentro del modal */
.turno-container[style*="position: fixed"] {
  margin: 0 !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 101 !important;
}
